/* screen - collection */

.collection {
  align-items: center;
  background-color: var(--coloursecondarywhite-100-general);
  display: flex;
  flex-direction: column;
  height: 5800px;
  overflow: hidden;
  width: 1440px;
}

.collection .hello {
  
  align-self: flex-end;
  color: #091133;
  font-family: 'Fit-variable';
  font-stretch: 200%;
  font-size: 200px;
  font-weight: 400;
  margin-top: 50px;
  letter-spacing: 1.00px;
  line-height: 175px;
  margin-right: -215px;
  
  width: 1579px;
}

.collection .overlap-group11 {
  align-self: flex-end;
  height: 100px;
  margin-right: 15.48px;
  margin-top: 39px;
  position: relative;
  width: 1345px;
}

.collection .flex-container-1169 {
  gap: 12px;
  height: 97px;
  left: 1091px;
  position: absolute;
  top: 0;
  width: 252px;
}

.collection .text {
  letter-spacing: 1.00px;
  line-height: 17px;
}

.collection .rectangle-104 {
  background-color: var(--logo-color);
  height: 10px;
  left: 0;
  position: absolute;
  top: 85px;
  width: 1228px;
}

.collection .g {
  color: var(--black);
  font-family: var(--font-family-adelle_sans_arm-regular);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 68.9px;
  position: absolute;
  top: 7px;
  width: 91px;
}

.collection .group-34 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 79.88px;
  margin-top: 80px;
  min-width: 455px;
}

.collection .flex-container-1171 {
  gap: 12px;
  height: 97px;
  position: relative;
  width: 453px;
}

.collection .text-1 {
  letter-spacing: 1.00px;
  line-height: 27px;
}

.collection .group-35 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: -10.35px;
  margin-top: 28px;
  min-width: 1370px;
}

.collection .artist {
  height: 17px;
  letter-spacing: 1.00px;
  line-height: 20px;
  white-space: nowrap;
  width: 159px;
}

.collection .genre {
  height: 17px;
  letter-spacing: 1.00px;
  line-height: 20px;
  margin-left: 167px;
  white-space: nowrap;
  width: 161px;
}

.collection .country {
  height: 17px;
  letter-spacing: 1.00px;
  line-height: 20px;
  margin-left: 72px;
  white-space: nowrap;
  width: 218px;
}

.collection .year {
  height: 17px;
  letter-spacing: 1.00px;
  line-height: 20px;
  margin-left: 24px;
  white-space: nowrap;
  width: 159px;
}

.collection .instruments {
  height: 17px;
  letter-spacing: 1.00px;
  line-height: 20px;
  margin-left: 46px;
  white-space: nowrap;
}

.collection .rectangle-54 {
  background-color: var(--logo-color);
  height: 3px;
  margin-right: 52.0px;
  margin-top: 15px;
  width: 1228px;
}

.collection .group-container {
  align-self: flex-start;
  height: 357px;
  margin-left: 77px;
  margin-top: 28px;
  position: relative;
  width: 967px;
}

.collection .group-47 {
  align-items: flex-start;
  display: flex;
  gap: 7px;
  height: 352px;
  left: 0;
  min-width: 335px;
  position: absolute;
  top: 0;
}

.collection .ellipse-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin-top: 5.75px;
  min-height: 242px;
  width: 12px;
}

.collection .ellipse-1 {
  border: 1px solid;
  border-color: var(--logo-color);
  border-radius: 6.23px;
  height: 12px;
  width: 12px;
}

.collection .ellipse-15 {
  background-color: var(--logo-color);
  border: 1px solid;
  border-radius: 6.23px;
  height: 12px;
  width: 12px;
}

.collection .flex-container-1 {
  gap: 12px;
  height: 352px;
  position: relative;
  width: 316px;
}

.collection .text-2 {
  letter-spacing: 1.00px;
  line-height: 36px;
}

.collection .group-48 {
  align-items: flex-start;
  display: flex;
  gap: 7px;
  height: 352px;
  left: 317px;
  min-width: 335px;
  position: absolute;
  top: 0;
}

.collection .group-49 {
  align-items: flex-start;
  display: flex;
  gap: 7px;
  height: 352px;
  left: 632px;
  min-width: 335px;
  position: absolute;
  top: 6px;
}

.collection .overlap-group-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 9px;
  margin-right: 136px;
  margin-top: px;
  min-width: 107px;
}

.collection .flex-row {
  align-items: center;
  border: 1px solid;
  border-color: var(--logo-color);
  height: 49px;
  justify-content: flex-end;
  min-width: 49px;
  padding: 0 8px;
}

.collection .flex-col {
  align-items: flex-start;
  flex-direction: column;
  min-height: 33px;
  width: 13px;
}

.collection .rectangle-3 {
  background-color: var(--red);
  height: 14px;
  width: 13px;
}

.collection .rectangle-3-1 {
  background-color: var(--red);
  height: 13px;
  width: 13px;
}

.collection .flex-row-1 {
  border: 1px solid;
  border-color: var(--logo-color);
  gap: 6px;
  height: 49px;
  min-width: 49px;
  padding: 7.4px 7.4px;
}

.collection .flex-col-1 {
  gap: 5px;
  min-height: 33px;
  width: 8px;
}

.collection .rectangle-4 {
  background-color: var(--logo-color);
  border: 1px solid;
  height: 8px;
  width: 8px;
}

.collection .flex-col-2 {
  gap: 5px;
  min-height: 33px;
  width: 19px;
}

.collection .rectangle-4-1 {
  background-color: var(--logo-color);
  border: 1px solid;
  height: 8px;
  width: 19px;
}

.collection .airtable-gallery-container {
  align-items: flex-start;
  display: flex;
  margin-right: 56.0px;
  margin-top: 26px;
  min-width: 1224px;
}

.collection .airtable-gallery {
  background-color: var(--cloud);
  height: 292px;
  width: 291px;
}

.collection .airtable-gallery-1 {
  background-color: var(--cloud);
  height: 292px;
  margin-left: 19px;
  width: 292px;
}

.collection .airtable-gallery-2 {
  background-color: var(--cloud);
  height: 292px;
  margin-left: 19px;
  width: 291px;
}

.collection .airtable-gallery-3 {
  background-color: var(--cloud);
  height: 292px;
  margin-left: 20px;
  width: 292px;
}

.collection .x-container {
  align-items: flex-start;
  display: flex;
  margin-right: 57.0px;
  margin-top: 9px;
  min-width: 1215px;
}

.collection .hello-body-container-1 {
  height: 40px;
  position: relative;
  width: 287px;
}

.collection .hello-body {
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 0.1px;
  position: absolute;
  top: 0;
  width: 287px;
}

.collection .hello-body-1 {
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 0.1px;
  position: absolute;
  top: 19px;
  width: 287px;
}

.collection .hello-body-container-2 {
  height: 40px;
  margin-left: 19px;
  position: relative;
  width: 287px;
}

.collection .hello-body-container {
  height: 40px;
  margin-left: 24px;
  position: relative;
  width: 287px;
}

.collection .airtable-gallery-container-1 {
  margin-top: 30px;
}

.collection .hello-body-2 {
  height: 21px;
  letter-spacing: 0;
  line-height: 0.1px;
  width: 287px;
}

.collection .hello-body-3 {
  height: 21px;
  letter-spacing: 0;
  line-height: 0.1px;
  margin-left: 19px;
  width: 287px;
}

.collection .hello-body-4 {
  height: 21px;
  letter-spacing: 0;
  line-height: 0.1px;
  margin-left: 24px;
  width: 287px;
}

.collection .hello-body-container-3 {
  align-items: flex-start;
  display: flex;
  margin-right: 57.0px;
  min-width: 1215px;
}

.collection .airtable-gallery-container-2 {
  margin-top: 44px;
}

.collection .flexcontainer-container {
  align-self: flex-end;
  height: 21px;
  margin-right: -94px;
  margin-top: 18px;
  position: relative;
  width: 1453px;
}

.collection .flex-container-1144 {
  gap: 16px;
  height: 21px;
  left: 0;
  position: absolute;
  top: 0;
  width: 522px;
}

.collection .text-3 {
  letter-spacing: 0;
  line-height: 0.1px;
}

.collection .flex-container-1145 {
  gap: 16px;
  height: 21px;
  left: 309px;
  position: absolute;
  top: 0;
  width: 522px;
}

.collection .flex-container-1146 {
  gap: 16px;
  height: 21px;
  left: 620px;
  position: absolute;
  top: 0;
  width: 522px;
}

.collection .flex-container-1147 {
  gap: 16px;
  height: 21px;
  left: 931px;
  position: absolute;
  top: 0;
  width: 522px;
}

.collection .flexcontainer-container-1 {
  align-items: flex-start;
  display: flex;
  margin-right: 129.0px;
  margin-top: 22px;
  min-width: 1149px;
}

.collection .flex-container-1148 {
  gap: 11px;
  height: 33px;
  margin-top: 2vh;
  position: relative;
  width: 217px;
}

.collection .flex-container-1149 {
  gap: 11px;
  margin-top: 2vh;
  height: 33px;
  margin-left: 91px;
  position: relative;
  width: 218px;
}

.collection .flex-container-1150 {
  gap: 11px;
  margin-top: 2vh;
  height: 33px;
  margin-left: 93px;
  position: relative;
  width: 217px;
}

.collection .flex-container-1151 {
  gap: 11px;
  margin-top: 2vh;
  height: 33px;
  margin-left: 95px;
  position: relative;
  width: 218px;
}

.collection .group-61 {
  align-items: flex-end;
  display: flex;
  position: relative;
  gap: 10px;
  height: 1429px;
  left: 40px;
  margin-right: 24.0px;
  margin-top: 100px;
  min-width: 1288px;
}

.collection .flex-row-2 {
  height: 1428px;
  min-width: 927px;
}

.collection .flex-col-3 {
  min-height: 1414px;
  width: 303px;
}

.collection .overlap-group {
  height: 298px;
  margin-top: 64px;
  position: relative;
  width: 303px;
}

.collection .airtable-gallery-4 {
  background-color: var(--cloud);
  height: 291px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 291px;
}

.collection .r-11379693-1515454010-2972-1 {
  width: 303px;
}

.collection .airtable-gallery-6 {
  background-color: var(--cloud);
  height: 292px;
  margin-top: 67px;
  width: 291px;
}

.collection .airtable-gallery-5 {
  background-color: var(--cloud);
  height: 291px;
  margin-top: 110px;
  width: 291px;
}

.collection .flex-col-4 {
  
  margin-left: 13px;
  min-height: 1427px;
  width: 287px;
}

.collection .hello-body-6 {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 21px;
  width: 287px;
}

.collection .flex-container-110 {
  gap: 16px;
  height: 21px;
  margin-top: 5px;
  position: relative;
  width: 233px;
}

.collection .flex-container-1114 {
  gap: 11px;
  height: 33px;
  margin-top: 190px;
  position: relative;
  width: 211px;
}

.collection .hello-body-5 {
  height: 33px;
  letter-spacing: 0;
  line-height: 0.1px;
  width: 211px;
}

.collection .hello-body-7 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 45px;
  min-height: 21px;
  width: 287px;
}

.collection .flex-container-111 {
  gap: 11px;
  height: 33px;
  margin-top: 192px;
  position: relative;
  width: 211px;
}

.collection .hello-body-8 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 45px;
  min-height: 21px;
  width: 287px;
}

.collection .hello-body-9 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 90px;
  min-height: 21px;
  width: 287px;
}

.collection .flex-container-1117 {
  gap: 11px;
  height: 33px;
  margin-top: 188px;
  position: relative;
  width: 211px;
}

.collection .flex-col-5 {
  margin-left: 18px;
  min-height: 1414px;
  width: 306px;
}

.collection .overlap-group5 {
  height: 298px;
  margin-top: 61px;
  position: relative;
  width: 306px;
}

.collection .group-57 {
  background-color: var(--logo-color);
  height: 291px;
  left: 7px;
  mix-blend-mode: darken;
  position: absolute;
  top: 5px;
  width: 299px;
}

.collection .r-11379693-1515454010-2972-9 {
  mix-blend-mode: luminosity;
  width: 306px;
}

.collection .airtable-gallery-7 {
  background-color: var(--cloud);
  height: 292px;
  margin-top: 70px;
  width: 291px;
}

.collection .flex-col-6 {
  min-height: 1429px;
  width: 287px;
}

.collection .overlap-group4 {
  height: 33px;
  position: relative;
  width: 287px;
}

.collection .flex-container-111-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 21px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 233px;
}

.collection .flex-container-11 {
  gap: 11px;
  height: 33px;
  margin-top: 206px;
  position: relative;
  width: 211px;
}

.collection .overlap-group1 {
  height: 33px;
  margin-top: 54px;
  position: relative;
  width: 287px;
}

.collection .overlap-group2 {
  height: 33px;
  margin-top: 58px;
  position: relative;
  width: 287px;
}

.collection .overlap-group3 {
  height: 33px;
  margin-top: 97px;
  position: relative;
  width: 287px;
}

.collection .rectangle-100 {
  background-color: var(--black);
  height: 4px;
  margin-left: 3.0px;
  margin-top: 100px;
  width: 1283px;
}

.collection .overlap-group18 {
  height: 1336px;
  margin-left: 3.0px;
  margin-top: 35px;
  position: relative;
  width: 1283px;
}

.collection .overlap-group17 {
  height: 1336px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1283px;
}

.collection .overlap-group6 {
  height: 1276px;
  left: 0;
  position: absolute;
  top: 60px;
  width: 1283px;
}

.collection .hello-body-10 {
  left: 624px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 15px;
  width: 366px;
}

.collection .hello-body-11 {
  left: 624px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 412px;
  width: 366px;
}

.collection .hello-body-12 {
  left: 624px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 958px;
  width: 366px;
}

.collection .hello-body-13 {
  left: 1228px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 0;
  width: 39px;
}

.collection .hello-body-14 {
  left: 1228px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 397px;
  width: 39px;
}

.collection .hello-body-15 {
  left: 1228px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 157px;
  width: 39px;
}

.collection .hello-body-16 {
  left: 1228px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 554px;
  width: 39px;
}

.collection .hello-body-17 {
  left: 1228px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 677px;
  width: 39px;
}

.collection .hello-body-18 {
  left: 624px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 169px;
  width: 363px;
}

.collection .hello-body-19 {
  left: 624px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 566px;
  width: 363px;
}

.collection .hello-body-20 {
  left: 624px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 689px;
  width: 363px;
}

.collection .hello-body-21 {
  left: 624px;
  letter-spacing: 0;
  line-height: 21.5px;
  position: absolute;
  top: 344px;
  width: 429px;
}

.collection .hello-body-22 {
  left: 624px;
  letter-spacing: 0;
  line-height: 21.5px;
  position: absolute;
  top: 890px;
  width: 429px;
}

.collection .rectangle-101 {
  background-color: var(--black);
  height: 4px;
  left: 0;
  position: absolute;
  top: 302px;
  width: 1283px;
}

.collection .rectangle-102 {
  background-color: var(--black);
  height: 4px;
  left: 0;
  position: absolute;
  top: 851px;
  width: 1283px;
}

.collection .rectangle-103 {
  background-color: var(--black);
  height: 4px;
  left: 0;
  position: absolute;
  top: 1217px;
  width: 1283px;
}

.collection .hello-body-23 {
  left: 1228px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 1003px;
  width: 39px;
}

.collection .overlap-group12 {
  height: 298px;
  left: 0;
  position: absolute;
  top: 0;
  width: 303px;
}

.collection .airtable-gallery-8 {
  background-color: var(--cloud);
  height: 291px;
  left: 0;
  position: absolute;
  top: 401px;
  width: 291px;
}

.collection .airtable-gallery-9 {
  background-color: var(--cloud);
  height: 291px;
  left: 0;
  position: absolute;
  top: 947px;
  width: 291px;
}

.collection .hello-body-24 {
  left: 316px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 401px;
  width: 287px;
}

.collection .hello-body-25 {
  left: 316px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 947px;
  width: 287px;
}

.collection .flex-container-175 {
  gap: 16px;
  height: 21px;
  left: 316px;
  position: absolute;
  top: 427px;
  width: 233px;
}

.collection .flex-container-176 {
  gap: 16px;
  height: 21px;
  left: 316px;
  position: absolute;
  top: 973px;
  width: 233px;
}

.collection .flex-container-177 {
  gap: 11px;
  height: 33px;
  left: 316px;
  position: absolute;
  top: 244px;
  width: 211px;
}

.collection .flex-container-178 {
  gap: 11px;
  height: 33px;
  left: 316px;
  position: absolute;
  top: 641px;
  width: 211px;
}

.collection .flex-container-179 {
  gap: 11px;
  height: 33px;
  left: 316px;
  position: absolute;
  top: 1187px;
  width: 211px;
}

.collection .hello-body-26 {
  height: 33px;
  left: 316px;
  letter-spacing: 0;
  line-height: 0.1px;
  position: absolute;
  top: 277px;
  width: 211px;
}

.collection .hello-body-27 {
  height: 33px;
  left: 316px;
  letter-spacing: 0;
  line-height: 0.1px;
  position: absolute;
  top: 674px;
  width: 211px;
}

.collection .hello-body-28 {
  height: 33px;
  left: 316px;
  letter-spacing: 0;
  line-height: 0.1px;
  position: absolute;
  top: 1220px;
  width: 211px;
}

.collection .hello-body-29 {
  left: 624px;
  letter-spacing: 0;
  line-height: 21.5px;
  position: absolute;
  top: 7px;
  width: 429px;
}

.collection .hello-body-30 {
  left: 316px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 4px;
  width: 287px;
}

.collection .flex-container-174 {
  gap: 16px;
  height: 21px;
  left: 316px;
  position: absolute;
  top: 30px;
  width: 233px;
}

.collection .rectangle-90 {
  background-color: var(--colourmaingrey100);
  height: 3848px;
  margin-top: 1317px;
  width: 1440px;
}

.collection .airtable-gallery-container-3 {
  align-items: flex-start;
  display: flex;
  margin-right: 56.0px;
  min-width: 1224px;
}

.collection .flex {
  display: flex;
  gap: 6px;
}

.collection .flex-col-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.collection .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.collection .flex-row-3 {
  align-items: flex-start;
  display: flex;
}

.collection .r-11379693-1515454010-2972 {
  height: 298px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.collection .text-4 {
  align-self: stretch;
  position: relative;
}
