/* screen - collection-detail */

.collection-detail {
  align-items: flex-start;
  background-color: var(--coloursecondarywhite-100-general);
  display: flex;
  flex-direction: column;
  min-height: 6124px;
  overflow-x: hidden;
  width: 1440px;
}

.collection-detail .group-9 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 66.57px;
  margin-top: 55px;
  min-width: 56px;
}

.collection-detail .overlap-group {
  height: 56px;
  position: relative;
  width: 56px;
}

.collection-detail .rectangle-9 {
  background-color: var(--black);
  height: 71px;
  left: 24px;
  position: absolute;
  top: -8px;
  transform: rotate(-45deg);
  width: 8px;
}

.collection-detail .rectangle-10 {
  background-color: var(--black);
  height: 71px;
  left: 24px;
  position: absolute;
  top: -7px;
  transform: rotate(-135deg);
  width: 8px;
}

.collection-detail .rectangle-12 {
  background-color: var(--black);
  height: 6px;
  margin-top: 47px;
  width: 1440px;
}

.collection-detail .overlap-group6 {
  height: 650px;
  margin-top: 49px;
  position: relative;
  width: 1524px;
}

.collection-detail .overlap-group8 {
  height: 650px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.collection-detail .r-11379693-1515454010-2972-3 {
  height: 587px;
  left: 93px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 597px;
}

.collection-detail .overlap-group3 {
  height: 444px;
  left: 0;
  position: absolute;
  top: 206px;
  width: 1440px;
}

.collection-detail .flex-container-1226 {
  gap: 27px;
  height: 210px;
  left: 1370px;
  position: absolute;
  top: 56px;
  width: 70px;
}

.collection-detail .text {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 2px;
  position: relative;
}

.collection-detail .flex-container-1232 {
  gap: 27px;
  height: 262px;
  left: 749px;
  position: absolute;
  top: 0;
  width: 644px;
}

.collection-detail .text-1 {
  line-height: 14px;
}

.collection-detail .hello-body {
  color: var(--black);
  font-family: 'arm-extra-b';
  font-size: var(--font-size-xxxxl);
  left: 749px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 182px;
  width: 644px;
}

.collection-detail .flex-container-1234 {
  gap: 27px;
  height: 137px;
  left: 749px;
  position: absolute;
  top: 235px;
  width: 254px;
}

.collection-detail .rectangle-90 {
  background-color: var(--black);
  height: 6px;
  left: 0;
  position: absolute;
  top: 414px;
  width: 1440px;
}

.collection-detail .rectangle-91 {
  background-color: var(--black);
  height: 6px;
  left: 752px;
  position: absolute;
  top: 147px;
  width: 640px;
}

.collection-detail .flex-container-1225 {
  gap: 27px;
  height: 132px;
  left: 749px;
  position: absolute;
  top: 18px;
  width: 775px;
}

.collection-detail .text-2 {
  line-height: 26px;
}

.collection-detail .flex-container-1229 {
  gap: 27px;
  height: 173px;
  margin-left: 92px;
  margin-top: 50px;
  position: relative;
  width: 794px;
}

.collection-detail .text-3 {
  line-height: 149px;

}

.collection-detail .hello-body-container {
  align-items: flex-start;
  display: flex;
  gap: 252px;
  height: 37px;
  margin-left: 93px;
  margin-top: 250px;
  min-width: 1044px;
}

.collection-detail .hello-body-1 {
  color: var(--logo-color);
  font-family: 'arm-extra-b';
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 42px;
  min-height: 33px;
  white-space: nowrap;
  width: 429px;
}

.collection-detail .hello-body-2 {
  color: var(--logo-color);
  font-family: 'arm-extra-b';
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 42px;
  min-height: 37px;
  white-space: nowrap;
}

.collection-detail .overlap-group5 {
  height: 7121px;
  margin-left: 3.0px;
  margin-top: 30px;
  position: relative;
  width: 1518px;
}

.collection-detail .overlap-group7 {
  height: 7121px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1441px;
}

.collection-detail .overlap-group2 {
  height: 6702px;
  left: 0;
  position: absolute;
  top: 419px;
  width: 1441px;
}

.collection-detail .group-5 {
  background-color: var(--logo-color);
  height: 1441px;
  left: -2630px;
  position: absolute;
  top: 2630px;
  transform: rotate(90.00deg);
  width: 6702px;
}

.collection-detail .flex-container-1227 {
  gap: 27px;
  height: 473px;
  left: 95px;
  position: absolute;
  top: 1336px;
  width: 374px;
}

.collection-detail .airtable-gallery {
  background-color: var(--colourmaingrey100);
  height: 2376px;
  left: 85px;
  position: absolute;
  top: 1664px;
  width: 1268px;
}

.collection-detail .lorem-ipsum-dolor-si {
  color: var(--black);
  font-family: 'arm-reg';
  font-size: var(--font-size-xxl);
  font-weight: 400;
  height: 1743px;
  left: 500px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 1800px;
  width: 766px;
}

.collection-detail .curabitur-urna-orci {
  color: var(--black);
  font-family: 'arm-reg';
  font-size: var(--font-size-xxl);
  font-weight: 400;
  height: 252px;
  left: 496px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 3730px;
  width: 766px;
}

.collection-detail .x1-curabitur-urna-or {
  color: var(--black);
  font-family: 'arm-reg';
  font-size: 17px;
  font-weight: 400;
  height: 115px;
  left: 162px;
  letter-spacing: 0;
  line-height: 23px;
  position: absolute;
  top: 2963px;
  width: 301px;
}

.collection-detail .armenian-diaspora-of {
  color: var(--black);
  font-family: 'arm-extra-b';
  font-size: 73px;
  font-weight: 800;
  height: 172px;
  left: 134px;
  letter-spacing: 0;
  line-height: 86px;
  position: absolute;
  top: 1770px;
}

.collection-detail .rectangle-89 {
  background-color: var(--cloud);
  height: 329px;
  left: 134px;
  position: absolute;
  top: 2042px;
  width: 329px;
}

.collection-detail .rectangle-92 {
  background-color: var(--cloud);
  height: 329px;
  left: 496px;
  position: absolute;
  top: 3338px;
  width: 795px;
}

.collection-detail .flexcontainer-container {
  height: 622px;
  left: 90px;
  position: absolute;
  top: 974px;
  width: 1318px;
  
}

.collection-detail .flex-container-1228 {
  gap: 27px;
  height: 473px;
  left: 0;
  position: absolute;
  top: 0;
  width: 374px;
}

.collection-detail .flex-container-1230 {
  gap: 27px;
  height: 173px;
  left: 5px;
  position: absolute;
  top: 375px;
  width: 1313px;
}

.collection-detail .text-4 {
  line-height: 150px;
}

.collection-detail .text1-1230 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 150px;
  margin-bottom: -127.00px;
  position: relative;
}

.collection-detail .flex-container-1231 {
  gap: 27px;
  height: 173px;
  left: 90px;
  position: absolute;
  top: 525px;
  width: 1313px;
}

.collection-detail .flex-container-1241 {
  gap: 2px;
  height: 470px;
  left: 90px;
  position: absolute;
  top: 38px;
  width: 510px;
}

.collection-detail .text-5 {
  line-height: 45px;
}

.collection-detail .flexcontainer-container-1 {
  height: 508px;
  left: 621px;
  position: absolute;
  top: 0;
  width: 647px;
}

.collection-detail .flex-container-1242 {
  gap: 2px;
  height: 393px;
  left: 0;
  position: absolute;
  top: 0;
  width: 255px;
}

.collection-detail .flex-container-1245 {
  gap: 2px;
  height: 461px;
  left: 150px;
  position: absolute;
  top: 47px;
  width: 497px;
}

.collection-detail .flex-container-1243 {
  gap: 2px;
  height: 393px;
  left: 1287px;
  position: absolute;
  top: 25px;
  width: 231px;
}

.collection-detail .vector-13 {
  height: 26px;
  left: 54px;
  position: absolute;
  top: 97px;
  width: 20px;
}

.collection-detail .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.collection-detail .text-6 {
  align-self: stretch;
  letter-spacing: 0;
  position: relative;
}
